@charset "utf-8";

html {
  font-size: 2em;
}

body {
  font-size: (14/16)+rem;
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

h1 {
  font-size: (36/16)+rem;
  width: 4em;
  margin: 30px;
  border: (1/36)+em, solid;
}

span {
  font-size: (20/16)+rem;
}
