@charset "utf-8";

@mixin inner($w: (560/640)*100%, $mw: 1200px) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: (15/16)+em;
}

body {
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

.header {
  &__inner {
    @include inner();
  }
}
