/* SETTING
------------------------------*/
/* BASE
------------------------------*/
html {
  font-size: 93.75%;
}
@media screen and (min-width: 800px) {
  html {
    font-size: 112.5%;
  }
}

body {
  color: #404040;
  font-family: "Helvetica", "Helvetica Neue", "Yu Gothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: #404040;
  text-decoration: none;
}

/* BLOCK
------------------------------*/
.header {
  padding: 40px 0;
}
.header__inner {
  width: 88%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header__logo {
  margin-left: auto;
  margin-right: auto;
}
.header__copy {
  font-size: 0.8rem;
}

.footer {
  padding: 40px;
  background-color: #EDEFF2;
  text-align: center;
}
.footer__inner {
  width: 88%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.3333333333em;
}
@media screen and (min-width: 800px) {
  .footer__logo {
    margin: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
}
.card__body {
  margin-bottom: auto;
}
.card__pic {
  width: 100%;
  margin-bottom: 2em;
}

.btn {
  display: block;
  width: 300px;
  margin-top: 2.6666666667em;
  margin-left: auto;
  padding: 1.3333333333em;
  background-color: #985E5B;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .btn {
    width: 100%;
  }
}

/* index.html
------------------------------*/
.visual {
  margin-bottom: 4em;
}
.visual__pic {
  width: 100%;
  height: clamp(400px, 50vw, 600px);
  -o-object-fit: cover;
     object-fit: cover;
}

.message {
  margin-bottom: 6em;
  text-align: center;
}
.message__inner {
  width: 88%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.message p {
  margin-bottom: 1em;
}
.message span {
  display: inline-block;
}

.contents__inner {
  width: 88%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .contents__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

.about {
  margin-bottom: 6em;
}
@media screen and (min-width: 800px) {
  .about {
    width: 58.3333333333%;
  }
}
.about__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #DDDDDD;
  font-size: 1.3333333333rem;
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (min-width: 800px) {
  .about__title {
    margin-left: 0;
  }
}
@media screen and (min-width: 800px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}
.about__item {
  margin-bottom: 4em;
}
@media screen and (min-width: 800px) {
  .about__item {
    width: 47.1428571429%;
    margin-bottom: 0;
  }
}

.info {
  margin-bottom: 6em;
}
@media screen and (min-width: 800px) {
  .info {
    width: 33.3333333333%;
  }
}
.info__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 2px solid #DDDDDD;
  font-size: 1.3333333333rem;
  font-weight: bold;
  line-height: 1.2;
}
@media screen and (min-width: 800px) {
  .info__title {
    margin-left: 0;
  }
}
.info__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}
.info__term {
  width: 92px;
  margin-right: 2em;
  padding-right: 0.8em;
  padding-bottom: 0.4666666667em;
  border-right: 2px solid;
  border-bottom: 1px solid;
  color: #985E5B;
  font-weight: bold;
  text-align: right;
}
.info__desc {
  flex: 1;
  overflow-wrap: anywhere;
}
/*# sourceMappingURL=style.css.map */